/*h1{
    height: 100px;
    width:100%;
    background-color: aqua;
}
p{
    font-size: 0.5em;
    width:100em;
}
div{
    width: 50rem;
    height: 20vh;
} 
 #BOX1{
position: static;
 }
 #BOX2{
    position: relative;
    top: 0px;
    left: 20px;
    right: 20px;
    z-index: 1;
 }
 #BOX3{
/* position: absolute; 
position: sticky;
top: 20px;
left: 50px;
z-index: 2;
 }
 #BOX4{
position: fixed;
bottom: 0px;
width:200%;
left: 0px;
 } */ 
div{
    height: 100px;
    width: 200px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
 }
 #BOX1{
    background-image: url("hyouka.png");
    background-size: contain;
 }
 #BOX2{
    background-image: url("hyouka.png");
    background-size: cover;
 }
 #BOX3{
    background-image: url("hyouka.png");
    background-size: auto;}
#BOX4{
    background-image: url("hyouka.png");
    background-size: contain;
    background-size: cover;
   
 }
 
 

