/*   _EXTERNAL STYLESHEET_ 
*{
    color:fuchsia
}

the property written at last will have more priority than first ones.EX-
h1{
    color: blue;
}
        #you{
            color:yellow
             }
h1{
    color: brown;
  }
        body{
        background-color:bisque;
        }
.heading{
    color:indigo
}
        button{
         color: blue;
            background-color:darksalmon;
        }
*/

#box{
    background-color: blue;
}

.heading{
    color:red;
    /*  text-align: end;  from left to right for english , hindi etc
    text-align: start; from right to left for other language */
    text-align: center;
   text-decoration: underline;
   /*fallback mechanism*/
   font-family:Arial, 
   Helvetica, sans-serif ;
   font-weight: 400;
}
/*
h1,h2,h3{
color:red;
} */

#button{
    background-color: green;
    
}

a{
    text-decoration: blue wavy underline;
    text-transform: capitalize;
    font-weight: 500;
}
#one{
    font-size: 46px;
    line-height: 1px;
}
#two{
    font-size: 32px;
}
#three{
    font-size: 16px;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
*{
    font-family: "Times Roman New";
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}