/*            TRANSITION PROPERTY

div{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 2px solid black;
   /* transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear(3);
    transition-timing-function: ease-in(3);
    transition-timing-function: steps(3);
    transition-timing-function:  cubic(3);
    transition-delay: 1s; 
    transition: all 2s linear 0.5s;
}
div:hover{
    background-color: blueviolet;
    font-size: 20px;
}
div:active{
    background-color: pink;
}                                        *//*
div{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 100px;
   /* transform: rotate(45deg);
    transform:scale(2,1); 
    transition: all 1s linear 0.5s; 

         ANIMATION PROPERTY
    animation-name: colorAnime;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-direction: normal ; 
    animation: colorAnime 3s ease-in 0.5s 3 normal;
}

@keyframes colorAnime{
    from {
        left:0px;
        background-color: brown;
         }
    to {right:600px;
        background-color:darkorange;
       } 
    0%{
        left:0px;
        background-color: brown ;
    }
    50%{
        right:100px;
        background-color: blueviolet;
    }
    100%{
        right:200px;
        background-color: darkgoldenrod;
    }
}

div:hover{
    transform: scale(2,2);
    transform: rotate(180deg);
    transform: translateY(-200px);
    transform: skew(-30deg); 

}
*/ 
/* LOADER CREATION */
 .boxes{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-top: 5px solid blue;
    border-right: 5px solid darkblue;
    border-bottom: 5px solid blueviolet;
    animation: spinAnimate 2s ease-in-out 0s infinite normal;
#box{
    height:70px;
    width: 70px;;
    position:relative;
    border-radius: 55%;
    border-top: 5px solid green;
    border-left: 5px solid yellowgreen;
    border-bottom: 5px solid goldenrod;
    margin-top: 10px;
    margin-left: 10px;
     animation: reverseAnimate 2s ease-in-out 0s  infinite reverse;
#box1{
    height:50px;
    width: 50px;
    position:relative;
    border-radius: 55%;
    border-top: 5px solid brown;
    border-left: 5px solid blueviolet;
    border-bottom: 5px solid blanchedalmond;
    margin-top: 5px;
    margin-left: 5px;
     animation: againAnimate 2s ease-in-out 0s  infinite normal;
}
}
}
@keyframes spinAnimate{
    from{
        
        transform: rotate(360deg);
    }
    to{
        
        transform: rotate(0deg);
    }
}
@keyframes reverseAnimate{
    from{
        
        transform: rotate(0deg);
    }
    to{
        
        transform: rotate(360deg);
    }
}
@keyframes againAnimate{
    from{
        
        transform: rotate(0deg);
    }
    to{
        
        transform: rotate(360deg);
    }
}