*{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar {
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: yellow;
    color: #0f1111;
}
#logo{
    font-size: 25px;
}
a{
    text-transform: capitalize;
    text-indent: 20px;
    margin-right: 300px;
}