table ,th, td{
border: 2px solid black;
}
table{
    border-collapse:collapse;
}


a:hover{
  text-decoration: none;
  border: 2px solid black;
  background-color: darkblue;
}

button{
  width: 100px;
  height: 20px;
input{
  height: 20px;
  width: 200px;
}}

.centered-text{
  width: 1500px;
  height: 100px;
  background-color:rgb(79, 79, 209);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: center;
  input{
    width: 300px;
    margin-right: 0px;
    border: 2px solid black;
  }
  button{
    border-left-width: 5px;
    border-bottom-width: 2px;
    background-color: yellow;
  }
  h1{
    display: inline;
    height: 40px;
    width: 200px;
    background-color:rgb(55, 55, 123) ;
    color: black;
    border-radius: 50%;
    text-align: center;
  }
}
@media only screen and (min-width: 500px){
  div{
    justify-content: column;
    align-items: start;
  }
}

@media  (max-width: 500px){
  div{
    background-color: brown;
  }
}
#sign{
  width: 280px;
  height: 280px;
  background-color: white;
  text-align: center;
  border: 3px solid black;
  
}
#login{
   width: 280px;
  height: 280px;
  background-color: white;
  text-align: center;
  border: 3px solid black;
}

.user{
  width: 560px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  
}
#sumbit{
  width: 700px;
  height: 530;
  background-color: rgb(197, 197, 225);
  text-align: center;
}

@keyframes loginUser{
  from{
    background-color: white;
  }
  to{
    background-color: rgb(80, 80, 105);
  }
}
@keyframes signUser{
  from{
    background-color: white;
  }
  to{
    background-color:coral
  }
}
#about{
  width: 400px;
  height: 200px;
  background-image: url("car1.jpg");
  background-size: cover;
  color: aliceblue;
}
.img{
  width: 20px;
}
.home:hover{
  animation: homeWeb 1.5s ease 0.7s 10 normal ;
}
@keyframes homeWeb{
  from{
    background-color:bisque;
    font-size: medium;
  }
  to{
     background-color:coral;
    font-size: large;
  }
}